@import url("/src/app/_ezs/plugins/react-select/react-select.css");
@import url("/src/app/_ezs/plugins/react-datepicker/react-datepicker.css");
@import url("/src/app/_ezs/plugins/react-toastify/ReactToastify.css");
@import url("/src/app/_ezs/plugins/sweetalert2/sweetalert.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --ezs-body-bg: #f5f8fa;
  --ezs-body-color: #181c32;
  --ezs-element-bg: #fff;
}

html.dark {
  --ezs-body-bg: #151521;
  --ezs-body-color: #ffffff;
  --ezs-element-bg: #1b1b29;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--ezs-body-color);
  font-size: 16px;
}

#root {
  height: 100%;
  background: #f2f4f7;
}

[tabindex],
*:focus-visible {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

/* ** */

.fullcalendar-grow .fc {
  @apply p-5 grow;
}

.fc .fc-datagrid-cell-cushion {
  @apply flex items-center h-full p-4 font-bold;
}

.fc .fc-timeline-slot-cushion {
  @apply pointer-events-none;
}

/* .fc .fc-scroller-liquid-absolute {
    padding-bottom: var(--width-scroll);
} */

.fc .fc-view-harness {
  @apply bg-white;
}

.fc-datagrid-cell.fc-resource .fc-datagrid-cell-frame {
  @apply !min-h-[111px];
}

.fc .fc-event-main {
  flex-grow: initial;
  @apply w-full h-full;
}

.fc-event:focus::after {
  @apply hidden;
}

.fc-event:focus {
  @apply shadow-none;
}

.fc-datagrid-cell-main {
  @apply break-normal;
}

.fc-event-today {
  @apply !bg-[#fac4ca] relative;
}

.fc-event-today::before {
  @apply absolute w-full h-[10px] top-full left-0 bg-[#fac4ca] content-[''];
}

.fc-day-today .fc-timeline-slot-frame {
  @apply text-danger;
}

/* .fc .fc-timeline-event-harness {
    @apply h-full
} */

.rhap_container {
  @apply p-4;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rhap_container:focus:not(:focus-visible) {
  outline: 0;
}
.rhap_container svg {
  vertical-align: initial;
}

.rhap_header {
  margin-bottom: 10px;
}

.rhap_footer {
  margin-top: 5px;
}

.rhap_main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 8px;
}

.rhap_horizontal {
  flex-direction: row;
}
.rhap_horizontal .rhap_controls-section {
  margin-left: 8px;
}

.rhap_horizontal-reverse {
  flex-direction: row-reverse;
}
.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 8px;
}

.rhap_stacked-reverse {
  flex-direction: column-reverse;
}
.rhap_stacked-reverse .rhap_controls-section {
  margin-bottom: 8px;
}

.rhap_progress-section {
  display: flex;
  flex: 3 1 auto;
  align-items: center;
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.rhap_progress-container:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_time {
  color: #333;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5px;
  background-color: #dddddd;
  border-radius: 2px;
}

.rhap_progress-filled {
  @apply bg-primary;
  height: 100%;
  position: absolute;
  z-index: 2;

  border-radius: 2px;
}

.rhap_progress-bar-show-download {
  background-color: rgba(221, 221, 221, 0.5);
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #dddddd;
  border-radius: 2px;
}

.rhap_progress-indicator {
  @apply rounded-full bg-primary shadow-xxl;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  top: -8px;
}

.rhap_controls-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.rhap_additional-controls {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.rhap_repeat-button {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #868686;
  margin-right: 6px;
}

.rhap_main-controls {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_main-controls-button {
  margin: 0 3px;
  color: #868686;
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.rhap_play-pause-button {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.rhap_volume-controls {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.rhap_volume-button {
  flex: 0 0 26px;
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #868686;
  margin-right: 6px;
}

.rhap_volume-container {
  display: flex;
  align-items: center;
  flex: 0 1 100px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_volume-bar-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  cursor: pointer;
}
.rhap_volume-bar-area:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_volume-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  background: #dddddd;
  border-radius: 2px;
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  left: 0;
  top: -4px;
  background: #868686;
  opacity: 0.9;
  border-radius: 50px;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
  cursor: pointer;
}
.rhap_volume-indicator:hover {
  opacity: 0.9;
}

.rhap_volume-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #868686;
  border-radius: 2px;
}

/* Utils */
.rhap_button-clear {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.rhap_button-clear:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
}
.rhap_button-clear:active {
  opacity: 0.95;
}
.rhap_button-clear:focus:not(:focus-visible) {
  outline: 0;
}


.ezs-navbar {
  display: flex;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
.ezs-navbar > li {
  padding-right: 0.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.ezs-navbar > li:last-child {
  padding-right: 0;
}
.ezs-navbar > li > a {
  text-decoration: none;
  padding: 0.65rem 1.1rem;
  display: block;
  color: #6c7293;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 14px;
}
.ezs-navbar > li > a.active, .ezs-navbar > li > a:hover {
  background-color: rgba(77, 89, 149, 0.06);
  color: #3699ff;
}
.ezs-navbar > li > a:focus-visible {
  outline: none !important;
}
.ezs-navbar > li > a i.icon {
  padding-right: 5px;
  display: none;
}
@media (min-width: 1350px) {
  .ezs-navbar > li > a i.icon {
    display: inline-block;
  }
}

.ezs-navbar > li > a i.icon-down {
  padding-left: 7px;
  font-size: 11px;
}
.ezs-navbar > li:hover > a {
  background-color: rgba(77, 89, 149, 0.06);
  color: #3699ff;
}
.ezs-navbar > li:hover .ezs-navbar__sub {
  display: block;
  -webkit-animation: header-menu-submenu-fade-in 0.3s ease 1, header-menu-submenu-move-down 0.3s ease-out 1;
  animation: header-menu-submenu-fade-in 0.3s ease 1, header-menu-submenu-move-down 0.3s ease-out 1;
}
.ezs-navbar > li .ezs-navbar__sub {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 98;
  box-shadow: 0 15px 50px 0 rgba(82, 63, 105, 0.15);
  border-radius: 4px;
  width: 255px;
  padding: 15px 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  display: none;
}
.ezs-navbar > li .ezs-navbar__sub.only-right {
  right: 0;
  left: auto;
}
.ezs-navbar > li .ezs-navbar__sub ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ezs-navbar > li .ezs-navbar__sub ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #3f4254;
  transition: all 0.3s ease;
  font-size: 14px;
}
.ezs-navbar > li .ezs-navbar__sub ul li a:hover, .ezs-navbar > li .ezs-navbar__sub ul li a.active {
  background-color: #f3f6f9;
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile {
  position: fixed;
  z-index: 1001;
  background: #fff;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars {
  list-style: none;
  margin: 0;
  padding: 15px 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  float: none;
  padding: 0;
  position: relative;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li:hover > a {
  background-color: #f3f6f9;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li:hover > a i.icon, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li:hover > a span {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li:hover > a ~ .btn-down i {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a {
  cursor: pointer;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 9px 25px;
  text-decoration: none;
  position: relative;
  outline: none;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a:hover, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a.active {
  background-color: #f3f6f9;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a:hover i.icon, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a.active i.icon, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a:hover span, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a.active span {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a:hover ~ .btn-down i, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a.active ~ .btn-down i {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a span {
  color: #3f4254;
  font-weight: 400;
  font-size: 1rem;
  text-transform: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li > a i.icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35px;
  flex: 0 0 35px;
  font-size: 1.1rem;
  color: #b5b5c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li .btn-down {
  position: absolute;
  top: 0;
  right: 5px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li .btn-down i {
  color: #b5b5c3;
  font-size: 11px;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open .btn-down i {
  transform: rotate(0deg);
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open > a {
  background-color: #f3f6f9;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open > a i.icon, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open > a span {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open > a ~ .btn-down i {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars > li.menu-item-open .ezs-navbar__sub {
  display: block;
  animation: fade-in 0.6s;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub {
  display: none;
  animation: fade-out 1s;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  float: none;
  padding: 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0 25px;
  padding-left: 40px;
  text-decoration: none;
  position: relative;
  outline: none;
  cursor: pointer;
  min-height: 40px;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a:hover, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a.active {
  background-color: #f3f6f9;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a:hover i span, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a.active i span {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a:hover .menu-text, .ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a.active .menu-text {
  color: #3699ff;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a .menu-bullet-dot {
  vertical-align: middle;
  text-align: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a .menu-bullet-dot span {
  background-color: #b5b5c3;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}
.ezs-navbars-mobile .ezs-navbar-mobile .ezs-navbars .ezs-navbar__sub ul li a .menu-text {
  color: #3f4254;
  font-weight: 400;
  font-size: 1rem;
  text-transform: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
}
.ezs-navbars-mobile .navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
  animation: animation-offcanvas-fade-in 0.6s ease 1;
  display: none;
}
.ezs-navbars-mobile.show .ezs-navbar-mobile {
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.05);
  transform: none;
  transition: transform 0.3s ease-in-out;
}
.ezs-navbars-mobile.show .navbar-overlay {
  display: block;
}
@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-menu-submenu-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-menu-submenu-move-down {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@media (max-width: 1440px) {
  .ezs-navbar>li>a {
    padding: .65rem 1rem;
    font-size: 13px;
  }
}